*{margin: 0;
    padding: 0;
}

.one {
    height: 60px;
    width: 100%;
    background-image: url(grassb.jpg);
    background-size: 20%;
    border-bottom: 10px solid rgb(88, 46, 46);

}

.two {
    height: 580px;
    width: 100%;
    background-image: url(asphalt.jpg);
    background-size: 30%;


}

.three {
    height: 60px;
    width: 100%;
    background-image: url(grassb.jpg);
    background-size: 20%;
    border-top: 10px solid rgb(88, 46, 46);

}

.firstroad {
    height: 25%;
    width: 100%;
    border-bottom: 10px dashed white;
    position: relative;
    overflow: hidden;

}

.secondroad {
    height: 25%;
    width: 100%;
    border-bottom: 10px solid white;
    position: relative;
    overflow: hidden;

}

.thirdroad {
    height: 25%;
    width: 100%;
    border-bottom: 10px dashed white;
    position: relative;
    overflow: hidden;
}
.forthoad {
    height: 25%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.firstcarimg {
    height: 100%;
    position: absolute;
    left: -20%;
    animation-name: move1;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

.secondcarimg {
    height: 100%;
    position: absolute;
    left: -20%;
    animation-name: move2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.thirdcarimg {
    height: 100%;
    position: absolute;
    left: 140%;
    animation-name: move3;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}
.forthcarimg {
    height: 80%;
    position: absolute;
    left: 140%;
    animation-name: move4;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes move1 {

    100% {
        left: 130%;
    }
}

@keyframes move2 {

    100% {
        left: 130%;
    }
}

@keyframes move3 {

    100% {
        left: -50%;
    }
    
}
@keyframes move4 {

    100% {
        left: -50%;
    }
    
}